{% extends 'base_profile.html' %}
{% load static %}
{% load bootstrap4 %}

{% block profile %}
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline dashboard-menu text-center">
          <li><a href="">الادوية</a></li>
          <li><a href="">فواتير</a></li>
          <li><a href="{% url 'patient:add_operation' id=operation.patient.id full_name=operation.patient.full_name %}">العمليات</a></li>
          <li><a href="{% url 'patient:patient_details' id=patient.id full_name=patient.full_name  %}">معلومات المريض</a></li>
        </ul>

        <div class="dashboard-wrapper dashboard-user-profile">
          <div class="media">
            <div class="media-body">
                <form method="POST" enctype="multipart/form-data" onsubmit="disableButton(this)" style="text-align:right;">
                    <h4 class="widget-title" style="text-align:right; font-family:monospace; font-size:30px;">إضافة روشتة </h4>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input class="btn btn-main text-center w-100" type="submit" value="حفظ" id="submitButton">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>
{% endblock %}


{% block operation %}

    <div class="col-md-9">

			<div class="row">
			<!-- patients -->
			{% for prescription in prescriptions %}
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">{{prescription.id}}</span>
						<img class="img-responsive" src="{% static 'images/Ticket.png' %}" alt="Ticket-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<a href="{% url 'patient:get_prescription' id=prescription.id %}">
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="">print</i>
									</span>
									</a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4>{{prescription.operation.name}}</h4>
					</div>
				</div>
			</div>
			{% endfor %}
            </div>
        </div>

{% endblock %}


