<html>
    <head>
        <title>
            طباعة الروشتة رقم ({{prescription.id}})
        </title>
    </head>
    <body>
        <div style="text-align:center">
            <h1>
            PATIENT ID:{{prescription.patient.id}}
            </h1>
        </div>
            <p style="opacity:50%">Date : {{prescription.datetime |date:" d/ m/ Y"}}</p>
        <p>
            {{prescription.medicine}}
        </p>

        <p style="text-align:center">تحذير : تحفظ الادوية بعيدا عن متناول الاطفال<br>يجب اتباع ارشادات الطبيب جيدا في الجرعة المحددة والوقت </p>
    </body>
</html>
