{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block form %}

<form method="get" enctype="multipart/form-data"  onsubmit="disableButton(this)" style="text-align:right;">
	{% bootstrap_form filter.form %}
		<input class="btn btn-main text-center w-100" type="submit" value="بحث" id="submitButton">
</form>
{% endblock %}

{% block patients %}
	{% for item in filtered_queryset %}
		<div class="col-md-3">
			<div class="product-item">
				<div class="product-thumb">
					<span class="bage">{{item.id}}</span>
					<img class="img-responsive" src="{% static 'images/victor_1.png' %}" alt="Ticket-img" />
					<div class="preview-meta">
						<ul>
							<li>
								<a href="{% url 'patient:patient_details' id=item.id full_name=item.full_name %}">
								<span  data-toggle="modal" data-target="#product-modal">
									<i class="tf-ion-ios-search-strong"></i>
								</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="product-content">
				<a href="{% url 'patient:patient_details' id=item.id full_name=item.full_name %}">
					<h4>{{item.full_name}}</h4>
				</a>
					<p>{{item.phone}}</p>
					<p>{{item.city}}</p>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
