{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block form %}

<form method="POST" enctype="multipart/form-data" style="text-align:right;" onsubmit="disableButton(this)">
    <h4 class="widget-title" style="text-align:right; font-family:monospace; font-size:30px;">إضافة حجز</h4>
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-main text-center w-100" type="submit" value="حفظ" id="submitButton">
</form>
{% endblock %}

{% block patients %}
			{% for ticket in tickets %}
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">{{ticket.examinationConsultation}}</span>
						<img class="img-responsive" src="{% static 'images/Ticket.png' %}" alt="Ticket-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<a href="{% url 'patient:patient_details' id=ticket.patient.id full_name=ticket.patient.full_name %}">
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
									</a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4>{{ticket.patient.full_name}}</h4>
						<p class="price">{{ticket.reservation_date |date:" d, m, Y"}}</p>
					</div>
				</div>
			</div>
			{% endfor %}
{% endblock %}